<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.kofron.foodinventory.client">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="cz.kofron.foodinventory.client.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.kofron.foodinventory.client.FoodDetailActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="cz.kofron.foodinventory.client.FoodEditActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="cz.kofron.foodinventory.client.FoodListActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
